<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['']">
        <img src="/assets/images/mando-icon-small.png" class="img-fluid">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">     </span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">     
        <li class="nav-item">
            <h3><a class="nav-link " [routerLink]="['']">Game Store</a></h3>
        </li> 
        <li class="nav-item my-auto">
            <a class="btn btn-info nav-link" (click)="newGame()">New Game</a>
        </li>
      </ul>
    </div>
  </nav>
